/* body{
    background-color: #0D111C;;
}
.header{
    background-color: #263E60;
    padding: 10px;
    
}

  

  

/* img{
    float: left;
    clear: both;
} 
log{
    margin: 400px solid;
    background-color: black;
}

.loginbox{
    background: #fff;
    padding: 20px;
    margin-top: 150px;
    border-radius: 10px;  
}



.logintitle{
    color: #28261F;
font-size: 48px;
font-family: Calibri;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-transform: capitalize;
}
.loginentry{
    border-radius: 16px;
    background: #FFF;
    
}
.signbtn{
    border-radius: 16px;
    background: #FF7D65;
    width: 478px;
height: 40px;
flex-shrink: 0;
border: 1px solid #505050;
color: #FFFFFF;
} */
  
.App {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  .parking-lot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .slot {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .slot.occupied {
    background-color: #f44336;
    color: #fff;
  }
  